<html>
  <head>
    <title> Hello from Nginx </title>
  </head>
  <body>
  <h1> My virtualhost_3 on {{ ansible_host }}:{{ port_number_VH3 }}, created by Ansible</h1>
  <p> But this virtualhost can be on ports:  </p>
   <p> {% for item in ports %}
       {{ item }}; </p>
       {% endfor %}
  
  <p> And then in the browser you need to enter:  </p>
   <p> {% for item in ports %}
       {{ ansible_host }}:{{ item }}; </p>
       {% endfor %}
  </body>
</html>
