server {
        listen {{ port_number_VH1 }} default_server;
        listen [::]:{{ port_number_VH1 }} default_server;
        root /var/www/html;
        index index_1.html index.htm index.nginx-debian.html;
        server_name {{ ansible_host }};

        location / {
                try_files $uri $uri/ =404;
        }
}
